.form__input {
  width: 90%;
  border: none;
  border-bottom: solid 5px palette(success);
  padding: em(6px) em(10px);
  margin: 0 auto;
  margin-bottom: em(30px);
  @include font($font-regular, normal);

  &::placeholder {
    @include font($font-semibold, normal, $font-color: darken($color-text, 50%));
  }
}

.form__label {
  &--hidden {
    @extend %srt;
  }
}

.form .img--avatar {
  margin: em(35px) auto;
}

.form {
  @include mq(medium) {
    margin-top: em(20px);
  }
}
