.container {
  padding: 0 em(50px);
}

.form {
  @include flexy(col);
}

.grid__row {
  @include flexy(col);
  margin-bottom: em(50px);
  margin-top: em(60px);
  width: 100%;
}

[class*="grid__col--12 theme__colors"] {
  background-color: palette(success, light);
}
[class*="grid__col--6 theme__colors"] {
  background-color: palette(default, x-dark);
}
[class*="grid__col--4 theme__colors"] {
  background-color: palette(default, light);
}
[class*="grid__col--3 theme__colors"] {
  background-color: adjust_color(palette(info, light), $hue: 40deg);
}
[class*="grid__col--5 theme__colors"] {
  background-color: adjust_color(palette(success, light), $hue: -20deg, $saturation: -25%);
}
[class*="grid__col--7 theme__colors"] {
  background-color: palette(error, light);
}
[class*="grid__col--8 theme__colors"] {
  background-color: palette(warning, light);
}

.grid__col-- {
  @include g-columns;
}

.blockquote {
  @include font($font-regular, italic, em(20px));
  padding-left: em(10px);
  border-left: solid 6px palette(success);
  border-radius: ($brdr-radius - 3);
  margin-bottom: em(50px);
}
