.container {
  max-width: $max-width;
  padding: 0 em(25px);
  margin: 0 auto;
}

.grid__row {
  @include flexy(col);
  margin-bottom: em(50px);
  width: 100%;
  @include mq(medium) {
    @include flexy(row);
    justify-content: space-between;
  }
}

.grid__col--3 {
  @include flexy(row);
  & .link {
    margin: 0 auto;
    margin-top: em(20px);
    @include mq(medium) {
      margin-left: em(15px);
    }
  }
  @include mq(medium) {
    @include flexy(col);
  }
}

.grid__col--5 {
  @include mq(medium) {
    margin-right: em(15px);
  }
}

.grid__col--7 {
  @include mq(medium) {
    width: 75%;
  }
}

.grid__col--8 {
  @include mq(medium) {
    flex: 2;
    margin-right: em(15px);
  }
}

.grid__col--4 {
  @include mq(medium) {
    flex: 1;
  }
}

.grid__col--6 {
  @include flexy(row);
}

.grid__col--12 {
  @include mq(medium) {
    @include flexy(row);
    justify-content: space-between;
    width: 100%;
  }
}

.blockquote {
  @include font($font-regular, italic, em(20px));
  padding-left: em(10px);
  border-left: solid 6px palette(success);
  border-radius: ($brdr-radius - 3);
  margin-bottom: em(50px);
  margin-left: em(16px);
}

[class*="grid__col--12 theme__colors"] {
  background-color: palette(success, light);
}
[class*="grid__col--6 theme__colors"] {
  background-color: palette(default, x-dark);
}
[class*="grid__col--4 theme__colors"] {
  background-color: palette(default, light);
}
[class*="grid__col--3 theme__colors"] {
  background-color: adjust_color(palette(info, light), $hue: 40deg);
}
[class*="grid__col--5 theme__colors"] {
  background-color: adjust_color(palette(success, light), $hue: -20deg, $saturation: -25%);
}
[class*="grid__col--7 theme__colors"] {
  background-color: palette(error, light);
}
[class*="grid__col--8 theme__colors"] {
  background-color: palette(warning, light);
}
