.nav {
  &__item {
    text-align: center;
    padding: em(6px) 0;
    border-radius: $brdr-radius;

    &:first-child {
      background-color: $color-success;
    }
  }
}

.nav a {
  padding: em(8px) em(60px);
  @include mq(medium) {
    padding: em(10px);
  }
}

nav {
  margin-top: em(40px);
}
